.login__list{
    width: 68%;
    border: 1px solid #F2994A;
    background-color: #FEF7F7;
    margin-right: 5px;
    padding-right: 10px;
    border-radius: 8px;
    font-family: sans-serif;
}


.login{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login__title{
    font-family: sans-serif;
    color: #602770;
}

.login__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.login__wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__label{
    margin-left: 10px;
    font-family: sans-serif;
}
.login__input{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: lightgrey;
    border-radius: 5px 5px 0 0;
}

.login__input--pass{
width: 90%;
border-radius: 5px 0 0 0;
margin-bottom: 20px;
}

.login__password{
    display: flex;
}

.login__icon{
    border: none;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    background-color: white;
    background-color: lightgrey;
    border-radius: 0 5px 0 0;
    margin-bottom: 20px;
    width: 10%;
}

.login__button{
    width: 100%;
    border-radius: 100px;
    border: none;
    height: 25px;
    background-color: #E34B31;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.login__text{
    font-family: sans-serif;
}

@media (min-width: 800px){

    .login__list{
        width: 40%;
    }
    .login__title{
        font-size: 2.5rem;
    }

    .login__label{
        font-size: 1rem;
    }
    
    .login__input{
        height: 50px;
        width: 70%;
        font-size: 1rem;
    }
    
    .login__input--pass{
        width: 60%;
    }

    .login__wrapper{
        margin-left: 30%;
    }

    .login__button{
        width: 70%;
        height: 60px;
        font-size: 1.5rem;
    }

    .login__text{
        font-size: 1.5rem;
    }
}

@media (min-width:2000px){
    .login__title{
        font-size: 5rem;
    }

    .login__label{
        font-size: 2rem;
    }

    .login__input{
        height: 100px;
        width: 70%;
        font-size: 1.5rem;
    }

    .login__input--pass{
        width: 60%;
    }

    .login__wrapper{
        margin-left: 30%;
    }

    .login__button{
        width: 70%;
        height: 100px;
        font-size: 3rem;
    }

    .login__text{
        font-size: 3rem;
    }
}
